<div id="particles-js"></div>
<section class="one1">
    <div class="main__header coll">
        <h1 class="main__title"> About billionsXchange</h1>
        <h3 class="main__title-3">"Aim for the moon. If you miss, you may hit a star "</h3>
        <h3>C. Stone</h3>
    </div>
</section>
<section id="#assets">
<div class="prs-container market-container">
    <h2 class="display-3 text-center my-3 text-white">Our company</h2>
    <p class="lead text-white">
        billionsXchange is a Bitcoin-based platform, offering a leveraged trading on several digital assets including Bitcoin, Ethereum, Litecoin, and Ripple. We are expert traders on bitcoin and we uses invested funds for trading and mining of bitcoins, thereby providing wealth for our investors and ourselves. When you invest your bitcoin/money with biz-coininvestment company, you dont have to bother about loss or risk of funds. You just earn daily income depending on your invested capital and get 15% referral bonus for each persons introduced, all requested payout are completed within 24 to 48 hours into your bitcoin wallet. The company was founded in 2010 and from the very first day, we have grown exponentially and currently serve clients in more than 150 countries. We provide our clients with access to top-tier liquidity and wide range of trading tools, while maintaining security, liquidity, enabling a safe and efficient trading environment for everyone.
    </p>
</section>
<section id="#assets">
<div class="prs-container market-container">
    <h2 class="display-3 text-center my-3 text-white">Technology</h2>
    <p class="lead text-white">
        billionsXchange offers a robust trading system for both beginners and professional traders that demand highly reliable market data and performance. Entire infrastructure is designed to facilitate high number of orders per second and extreme loads, while offering ultra-fast order execution and low latency. Our traders of all experience levels can easily design and customize layouts and widgets to best fit their trading style. We are proud to offer such innovative products and professional trading conditions to all our customers.
    </p>
</section>
<section id="#assets">
<div class="prs-container market-container">
    <h2 class="display-3 text-center my-3 text-white">Our vision and values</h2>
    <p class="lead text-white">
        Everything we do, from our continuous investment in R&D to the ongoing expansion of our product offering to our clients, is a demonstration of how dynamic billionsXchange really is. It is always our aim to serve the best interests of our clients and continue providing the best in class digital asset trading experience in the industry.
    </p>
</section>

<div class="assets-list row" style="justify-content: center;">
    <div class="asset-col col-md-3"><b class="asset__title text-white">Our vision
    </b><span class="asset__description text-white">At billionsXchange we remain committed to creating a dynamic and most innovative platform that equips our users with all necessary tools for their trading activities. In a such rapidly-changing and ever-expanding industry, we continuously refine our services to cater to the needs of traders worldwide.
    </span></div>
    <div class="asset-col col-md-3"><b class="asset__title text-white">Our vision
    </b><span class="asset__description text-white">We have always followed a client-oriented approach and placed our clients interests at the center of all our operations. billionsXchange team has a goal to be among the best online trading platforms in the cryptocurrency industry and to retain our reputation as a most reliable and trusted partner.
    </span></div>
</div>

<div class="text-center my-5">
    <a class="btn btn-outline-info text-info text-center" href="/register">Get Started</a>
</div>


<section id="#assets">
    <div class="prs-container market-container">
        <h2 class="display-3 text-center my-3 text-white">Contact Us</h2>
        <p class="lead text-white">
            The billionsXchange team is committed to providing 24/7 customer service. For all questions, security issues, product related inquiries and business proposals please reach us at [Support]
        </p>
        <p class="lead text-white">
            We're looking for experienced traders, engineers and marketing talents. Send an email with a subject Job application to [Support] with your CV if you're interested in joining billionsXchange team.
        </p>
</section>




