<div class="deposit bg-dark">
    <h3>SEND YOUR BITCOIN DEPOSIT TO THE ADDRESS BELOW:</h3>

    <b class="text-info">bc1qqdltaxn2ya89zvwdpjlfpqrczsdhdqn9whje4w</b>

    <marquee behavior="" direction="">
        <p class="text-warning">
            Ensure to copy address properly to avoid payment error.
        </p>
    </marquee>

</div>