<div class="deposit bg-dark">
    <h2>SEND YOUR BITCOIN DEPOSIT TO THE ADDRESS BELOW:</h2>

    <h1>1EHq8raWa2momkz872ki8U3u3xPt2yf2uE</h1>

    <marquee behavior="" direction="">
        <p>
            Ensure to copy address properly to avoid payment error.
        </p>
    </marquee>

</div>