<div class="deposit bg-dark">
    <h3>SEND YOUR BITCOIN DEPOSIT TO THE ADDRESS BELOW:</h3>

    <b class="text-info">bc1q7ugqcg5xx80a994z7pcz26352z5ew78yn8he3w</b>

    <marquee behavior="" direction="">
        <p class="text-warning">
            Ensure to copy address properly to avoid payment error.
        </p>
    </marquee>

</div>