<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Page-->
    <title>BillionsXchange Admin | <%= typeof title !== 'undefined' ? title : "" %></title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- google -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <!-- Vendor CSS-->
    <!-- Main CSS-->
    <link href="/css/index.css" rel="stylesheet" media="all">
    <link href="/css/theme.css" rel="stylesheet" media="all">
</head>

<body class="bg-dark">
    <div class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-nav">
        <div class="container-fluid">
          <a href="/" style="text-decoration: none;" class="title pr-2"><span class="red">Billions</span><span class="green">Xchange</span></a>
          <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">              
              <li class="nav-item dropdown">
                <a class="nav-link" href="/products" role="button">
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">              
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-info text-white" href="/register">Register</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </div>    

        <%-body%>

    <div class="footer">
      <div class="footer__wrapper container">
          <nav class="footer__menu">
          <div class="footer__info">
              <div class="row">
                <div class="col-md-5">
                  <div class="footer__address-line">digitalfxcryptomining © 2021. All rights reserved.</div>
                  <!--.footer__address-line #{footer.address}-->
                  <div class="footer__address-line">General information:&nbsp;<a href="mailto:info@digitalfxcryptomining.com"><span>info@digitalfxcryptomining.com</span></a></div>
                  <div class="footer__address-line">Contact support:&nbsp;<a href="mailto:+1(213)921-9177"><span>[+1(213)921-9177]</span></a></div>
                  <div class="footer__address-line">Address:&nbsp;<span>20 Cooper Square, New York, NY 10003, USA.</span></div>
                </div>
                <div class="col-md-6">
                    <a class="footer__sub-link" href="index/home/terms.html">Terms of use /</a>
                    <a class="footer__sub-link" href="index/home/terms21ce.html?privacy">Privacy policy /</a>
                    <a class="footer__sub-link" href="index/home/termsc614.html?risk">Risk disclaimer /</a>
                    <a class="footer__sub-link" href="index/home/terms2dcc.html?cookie">Cookie Policy /</a>
                    <a class="footer__sub-link" href="index/home/bitcoin_leverage.html">Leverage /</a>
                    <a class="footer__sub-link" href="index/home/long_short_trading.html">Long/Short Trading /</a>
                    <a class="footer__sub-link" href="index/home/partners.html">Refer &amp; Earn /</a>
                    <a class="footer__sub-link" href="index/home/about.html">About Us /</a>
                    <a class="footer__sub-link" href="index/home/security.html">Security /</a>
                    <a class="footer__sub-link" href="index/home/fees.html">Fees </a>
              </div>
              </div>
          </div>
          <div class="footer__copyright">
          <p><strong>digitalfxcryptomining DOES NOT ACCEPT ANY USERS FROM THE COUNTRIES OR TERRITORIES WHERE ITS ACTIVITY SHALL BE ESPECIALLY LISENCED, ACCREDITATED OR REGULATED BY OTHER WAYS. YOU SHALL CHECK YOUR APPLICABLE LAW AND BE FULLY RESPONSIBLE FOR ANY NEGATIVE IMPACT ARISEN FROM YOUR RESIDENCE COUNTRY REGULATIONS. IF YOU ARE TRAVELLING TO ANY OF THESE COUNTRIES, YOU ACKNOWLEDGE THAT OUR SERVICES MAY BE UNAVAILABLE AND/OR BLOCKED IN SUCH COUNTRIES. THE COMPANY DOES ACCEPT ONLY PARTICIPANTS:</strong>
                  </p><ol>
                      <li>he/she/it is of an age of majority (at least 18 years of age), meets all other eligibility criteria and residency requirements, and is fully able and legally competent to use the Website, enter into agreement with the digitalfxcryptomining and in doing so will not violate any other agreement to which he/she/it is a party;</li>
                      <li>he/she/it has necessary and relevant experience and knowledge to deal with cryptocurrencies and Blockchain-based systems, as well as full understanding&nbsp;of their framework, and is aware of all the merits, risks and any restrictions associated with cryptocurrencies and Blockchain-based systems, as well as knows how to manage them, and is solely responsible for any evaluations based on such knowledge;</li>
                      <li>Is not a foreign or domestic PEP.</li>
                      <li>he/she/it will not be using the Website for any illegal activity, including but not limited to money laundering and the financing of terrorism;</li>
                  </ol>
              <p></p>
              <p>Keep in mind that Bitcoin trading with margin&nbsp;may be subject to taxation. You are solely responsible for withholding, collecting, reporting, paying, settling and/or remitting any and all taxes to the appropriate tax authorities in such jurisdiction(s) in which You may be liable to pay tax. digitalfxcryptomining shall not be responsible for withholding, collecting, reporting, paying, settling and/or remitting any taxes (including, but not limited to, any income, capital gains, sales, value added or similar tax) which may arise from Your participation in the Bitcoin trading with margin.</p>
              <p>Content, research, tools, and coin symbols are for educational and illustrative purposes only and do not imply a recommendation or solicitation to buy or sell a particular asset or to engage in any particular investment strategy its merely a window into what we are doing and speculating about currently. The projections or other information regarding the likelihood of various investment outcomes are hypothetical in nature, are not guaranteed for accuracy or completeness, do not reflect actual investment results, do not take in to consideration commissions, margin interest and other costs, and are not guarantees of future results. All investments involve risk, losses may exceed the principal invested. You alone are responsible for evaluating the merits and risks associated with the use of our systems, services or products.</p>
          </div>
      </div>
  </div>

        <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Main JS-->
    <script src="/js/main.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/particles.min.js"></script>
    <script src="/js/app.js"></script>


    <script>
        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel, {interval: 2000})
    </script>
    <!-- <script>
        $(document).ready(function() {
            $('table').DataTable();
        } );
    </script> -->
    <script type="text/javascript">
      (function () {
          var options = {
              whatsapp: "+14156636147", // WhatsApp number
              call_to_action: "Message us", // Call to action
              position: "right", // Position may be 'right' or 'left'
          };
          var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
          s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
          var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();
  </script>
</body>

</html>
<!-- end document-->
