<div id="particles-js" class="p-short"></div>

<section class="one1">
        <div class="main__header coll">
            <h1 class="main__title"> More than just Trading</h1>
            <h3 class="main__title-3">billionsXchange  allows users to trade multiple products from a single Bitcoin-based platform</h3>
        </div>
</section>
<section id="#assets">
    <div class="prs-container prs-container--dark-bg assets-container mt-5">
        <div class="assets-list row">
            <div class="asset-col col-md-3 text-white"><img class="asset__icon" src="https://digitalfxcryptomining.com/index/home/cryptocurrencies63f2.svg"><span class="asset__title">Cryptocurrencies</span><span class="asset__description">Trade BTC, ETH, XRP, LTC, and EOS with 100x leverage and the lowest fees</span></div>
            <div class="asset-col col-md-3 text-white"><img class="asset__icon" src="https://digitalfxcryptomining.com/index/home/indicesd0cd.svg"><span class="asset__title">Indices</span><span class="asset__description">Access the most popular indices such as S&amp;P500, FTSE100, JAPAN, and much more.</span></div>
            <div class="asset-col col-md-3 text-white"><img class="asset__icon" src="https://digitalfxcryptomining.com/index/home/forexbc36.svg"><span class="asset__title">Forex</span><span class="asset__description">Go long or go short on 25 Forex majors. Take advantage of leverage up to 1000x</span></div>
            <div class="asset-col col-md-3 text-white"><img class="asset__icon" src="https://digitalfxcryptomining.com/index/home/commoditiesa7e0.svg"><span class="asset__title">Commodities</span><span class="asset__description">Speculate on the prices of high profile commodities such as oil and gold, and profit from their growth and decline.</span></div>
        </div>
        <div class="text-center my-5">
            <a class="btn btn-outline-info text-info text-center" href="/register">Start trading</a>
        </div>
        
    </div>
    <div class="prs-container market-container">
        <h2 class="display-3 text-center text-white">Markets</h2>
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
              <thead>
                <tr>
                    <th>Market</th>
                    <th>Last</th>
                    <th>24 Change</th>
                    <th>Market</th>
                    <th>Last</th>
                    <th>24 Change</th>
                </tr>
              </thead>
              
            </table>
        </div>
        <a class="btn btn--filled leverage-forex-action" href="/register">Trade Now</a></div>
</section>
<section class="coll" id="advantages">
    <div class="advantages-top">
        <div class="advantages-list">
            <h2 class="display-4 my-3 text-white">Trade with the #1 platform</h2>
            <ul class="prs-list">
                <li><span class="prs-list__title text-info">Highest leverage </span><span class="text-white">billionsXchange provides the highest leverage across all of the available instruments and platforms, allowing you to maximize your trading profits.</span></li>
                <li><span class="prs-list__title text-info">Access to global markets </span><span class="text-white">Is Bitcoin is not enough for you? Tap into global financial markets and speculate on the prices of Indices, FX, and commodities.</span></li>
                <li><span class="prs-list__title text-info">100% privacy </span><span class="text-white">billionsXchange respects the users privacy, hence there is no personal information required for you to begin trading. No lengthy KYC verifications - start trading in minutes!</span></li>
                <li><span class="prs-list__title text-info">Low fees </span><span class="text-white">Save on trading fees and benefits from the most competitive trading conditions in the market.</span></li>
            </ul>
        </div>
        <div class="advantages__image-container">
            <div class="advantages__image"></div>
        </div>
    </div><a class="btn btn--filled leverage-forex-action" href="/register">Open your free account</a></section>
<section style="background: rgba(0,0,0, 0.03)">
    <div class="prs-container start-trading-container">
        <h2 class="display-4 my-3 text-white">Start trading in only 3 steps</h2>
        <ul class="start-trading-steps">
            <li>
                <div class="start-trading-steps__number text-white">1</div>
                <div class="start-trading-steps__content">
                    <div class="start-trading-steps__title text-white">Register</div>
                    <div class="start-trading-steps__description text-white">Signup and confirm your email address to get instant access to the platform.</div>
                    <div class="start-trading-steps__comment text-white">(~30 seconds)</div>
                </div>
            </li>
            <li>
                <div class="start-trading-steps__number text-white">2</div>
                <div class="start-trading-steps__content">
                    <div class="start-trading-steps__title text-white">Fund</div>
                    <div class="start-trading-steps__description text-white">Deposit Bitcoin or use an alternative method to fund your personal account at billionsXchange .</div>
                    <div class="start-trading-steps__comment text-white">(~2 minutes)</div>
                </div>
            </li>
            <li>
                <div class="start-trading-steps__number text-white">3</div>
                <div class="start-trading-steps__content">
                    <div class="start-trading-steps__title text-white">Trade</div>
                    <div class="start-trading-steps__description text-white">Start trading multiple assets with leverage and the lowest fees!</div>
                    <div class="start-trading-steps__comment"></div>
                </div>
            </li>
        </ul>
    </div>
</section>
