<div id="particles-js" class="short"></div>

<div class="login-wrap pb-5">
    <div class="login">
        <h1 class="my-4 text-white">REGISTER</h1>
        <form method="POST">
            <%-include("./partials/messages") %>
            <div class="mb-3">
                <label class="form-label text-white">Your Full Name: </label>
                <input name="fullname" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Your Username: </label>
                <input name="username" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-white">Email address: </label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label text-white">Phone Number: </label>
                <input name="phone" type="tel" class="form-control" id="exampleInputPassword1" value="+1">
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Password: </label>
                <input name="password" type="password" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Retype Password: </label>
                <input name="password2" type="password" class="form-control">
            </div>
            <button style="width: 100%;" type="submit" class="btn btn-primary">Signup</button>
            <p class="text-white mt-3"
            style="font-size: 1.2em;"
            >Already have an account? 
                <a href="/login" style="text-decoration: none; font-weight: bold;">Login</a></p>
            </form>
    </div>
</div>