<div id="particles-js"></div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active showcase one slide-wrapper">
        <div class="row topM">
          <div class="coll col-md-9 mb-5 full">
            <h1>Trade Cryptocurrencies, Forex, Indices, and Commodities.</h1>
            <h2>The digital broker you need to succeed.</h2>
            <h3>Invest and Earn profitably from all your investment. A sure path to Financial Freedom.</h3>
          </div>
          <div class="coll col-md-3 mb-5">
            <div class="bg-dark p-3 full" style="border-radius: 20px;">
              <h1>$1,000,000</h1>
              <h3>24-hour volume</h3>
              <hr>
              <p>Trade with digital cryptomining:</p>
              <p>100x leverage on BTC, ETH, LTC, and more</p>
              <p>Go short & Go Long</p>
              <p>5 order types</p>
              <p>Instant Bitcoin Deposits</p>
              <p>Secure wallets</p>
              <p>0.05% trading fee on all assets</p>
              <div style="text-align: center">
                <a href="/register" class="btn btn-outline-info p-3" style="width: 100%;">Open free account</a>              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item showcase two slide-wrapper">
        <div class="row topM">
          <div class="coll col-md-5 py-5">
            <h1>30+ assets.</h1>
            <h1>One account</h1>
            <h2 style="font-weight: normal; font-size: 1.7em;">Become a billionsXchange affiliate partner with over 3, 500 partners so far.
              Get up to 20% of what your referred users pay in trading fees</h2>
            <a href="/products" class="btn btn-success text-white mt-5 p-3">See all products</a>
          </div>
          <div class="coll col-md-5">
            <img class="c-img" src="/images/show-stats.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=light&amp;pref_coin_id=1505&amp;invert_hover=" width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe>
  <div class="px-2 py-3 pt-5 bg-dark">
    <div class="row table1-stats">
      <div class="coll col-md-5">
        <h2 class="text-white">Trade Bitcoin, S&P 500, Gold, EURUSD and 30+ assets</h2>
        <h3 class="text-white">Get immediate access to cryptocurrencies, stock indices, commodities and forex with a single bitcoin-based platform</h3>
        <a href="/" class="btn btn-primary">Open free account</a>
      </div>
      <div class="coll col-md-6">
        <div class="table-responsive table--no-card m-b-30">
          <table class="table table-borderless table-striped table-earning">
            <thead>
              <tr>
                  <th>Instrument</th>
                  <th>Leverage</th>
                  <th>Instrument</th>
                  <th>Leverage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img class="assets-section__asset-icon assets-section__asset-icon--currency" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/btcf08df08d.svg?rev=bd683426a4475f86f1e59a9ab9394a60" alt="Bitcoin"><span>Bitcoin</span></td>
                <td>100X</td><td><img class="assets-section__asset-icon assets-section__asset-icon--fx" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/fx45744574.svg?rev=204cd70aeac216a719ef7b9a8eaa5c79" alt="EUR/USD"><span>EURUSD</span></td>
                <td>1000X</td>
              </tr>
              <tr>
                  <td><img class="assets-section__asset-icon assets-section__asset-icon--currency" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/eth78bc78bc.svg?rev=1a3e49f783153674f7ca90bae81c66d2" alt="Ethereum"><span>Ethereum</span></td>
                  <td>100X</td>
                  <td><img class="assets-section__asset-icon" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/graph038b038b.svg?rev=21151d03214bb5c4dce85dacc84ee8c6" alt="S&amp;P 500"><span>S&amp;P 500</span></td>
                  <td>100X</td>
              </tr>
              <tr>
                  <td><img class="assets-section__asset-icon assets-section__asset-icon--currency" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/ltc54095409.svg?rev=fce0bf69bcd7c6cbbdae9ff7db49706d" alt="Litecoin"><span>Litecoin</span></td>
                  <td>100X</td>
                  <td><img class="assets-section__asset-icon assets-section__asset-icon--gold" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/golddc65dc65.svg?rev=975fcec656e7a20655107f5036b77606" alt="Gold"><span>GOLD</span></td>
                  <td>500X</td>
              </tr>
              <tr>
                  <td><img class="assets-section__asset-icon assets-section__asset-icon--currency" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/ripple77cf77cf.svg?rev=8f15368a5cc9cb5cc182e5aa804616d6" alt="Ripple"><span>Ripple</span></td>
                  <td>100X</td>
                  <td><img class="assets-section__asset-icon assets-section__asset-icon--oil" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/oild45cd45c.svg?rev=c7cee5939e90345acb805c83ac7e0bc0" alt="CRUDE OIL"><span>CRUDE OIL</span></td>
                  <td>100X</td>
              </tr>
              <tr>
                  <td><img class="assets-section__asset-icon assets-section__asset-icon--eos" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/eosdf2fdf2f.svg?rev=d431754f66fcced10457921c2ecd8627" alt="EOS"><span>EOS</span></td>
                  <td>100X</td>
                  <td><img class="assets-section__asset-icon" src="https://digitalfxcryptomining.com/assets/home/assets/images/instruments/graph038b038b.svg?rev=21151d03214bb5c4dce85dacc84ee8c6" alt="JAPAN"><span>JAPAN</span></td>
                  <td>100X</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
  <div class="px-1">
    <h1 class="display-2 my-5 text-white">Our Live Demo</h1>
    <div class="table-responsive">
      <iframe src="https://digitalfxcryptomining.com/chat/chart.html" width="800" height="400" frameborder="0"></iframe>
    </div>
  </div>
  <div class="mt-5 where-to">
    <h2 class="text-white my-5">How and Where to buy bitcoin?</h2>
    <div class="row">
      <div class="coll col-md-3"><video width="200" controls="">
          <source src="https://digitalfxcryptomining.com/local.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
          </video>
              <div class="main-box__title"><a href="http://www.localbitcoins.com/">www.localbitcoins.com</a></div>
              <div class="main-box__desc">
                You can buy bitcoin with localbitcoins.com by clicking on the link above
              </div>
            </div>
            <div class="coll col-md-3"> <video width="200" controls="">
                <source src="https://digitalfxcryptomining.com/block.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
                </video>
                <div class="main-box__title"><a href="http://www.blockchain.info/">www.blockchain.info</a></div>
                <div class="main-box__desc">
                    You can buy bitcoin with blockchain.info by clicking on the link above
                </div>
            </div>
            <div class="coll col-md-3"><video width="200" controls="">
              <source src="https://digitalfxcryptomining.com/pax.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
              </video>
                    <div class="main-box__title"><a href="http://www.paxful.com/">www.paxful.com</a></div>
                    <div class="main-box__desc"> You can buy bitcoin with paxful.com by clicking on the link above </div>
                </div>
                <div class="coll col-md-3"><video width="200" controls="">
              <source src="https://digitalfxcryptomining.com/coin.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
              </video>
                  <div class="main-box__title"><a href="http://www.coinbase.com/">www.coinbase.com</a></div>
                  <div class="main-box__desc">
              You can buy bitcoin with coinbase.com by clicking on the link above</div>
            </div>
        </div>
  </div>


  <div class="testimonial">
    <h2 class="text-white my-5 text-white">Testimonial</h2>
    <div class="row">
      <div class="coll col-md-3"><img class="main-box__icon main-box__icon_account-setup" width="150px" src="https://digitalfxcryptomining.com/1.jpg">
            <div class="main-box__title">Guy Corem</div>
            <div class="main-box__desc text-white">
              Hi, I have been using the services provided by billionsXchange for 3 months, the most I have made in a week is $4000. The services billionsXchange has offered have enabled me to gain an additional source of income while at college. It has also made me develop lots of different skills and think about things differently."   
            </div>
        </div>
    
        <div class="coll col-md-3"><img class="main-box__icon main-box__icon_deposit-and-withdrawal" width="150px" src="https://digitalfxcryptomining.com/2.jpg">
            <div class="main-box__title">Alex Morgan</div>
            <div class="main-box__desc">
              From the help of billionsXchange I am now earning my weeks worth of wage in a day all from my phone! Offering a range of good services has also helped me all throughout and resolved any issues I've had along the way, definitely best in the business"
            </div>
        </div>

        <div class="coll col-md-3"><img class="main-box__icon main-box__icon_leverage-trading" width="150px" src="https://digitalfxcryptomining.com/3.jpg">
            <div class="main-box__title">Raphal T</div>
            <div class="main-box__desc"> I was really behind on a few payments and I was looking for a way to cover it.  Luckily I found billionsXchange and through the help of my really patient account manager I soon learned how to Trade. Not only did my debts vanish but I started generating a really nice side income. </div>
        </div>

        <div class="coll col-md-3"><img class="main-box__icon main-box__icon_security" width="150px" src="https://digitalfxcryptomining.com/4.jpg">
            <div class="main-box__title">Stella Thompson</div>
            <div class="main-box__desc">
            I have recently joined this platform which has already helped me make up to $7000 weekly from my phone while at college</div>
        </div>
    </div>
  </div>

  <hr>

  <div class="testimonial">
    <div class="row bg-dark">
      <div class="coll col-md-3"><img class="main-box__icon main-box__icon_account-setup" src="https://digitalfxcryptomining.com/assets/home/assets/icons/account-setupdde9dde9.svg?rev=5742cb0e3533defb1ef3d1aa03b096b5">
          <div style="font-weight: bold; margin-bottom: 1em;">Getting Started</div>
          <div class="main-box__desc">
              Create your account in just a few easy steps by filling in the required information. Fund your account and get started.</div>
          </div>
          <div class="coll col-md-3"><img class="main-box__icon main-box__icon_deposit-and-withdrawal" src="https://digitalfxcryptomining.com/assets/home/assets/icons/deposit-and-withdrawalsa7dda7dd.svg?rev=f33da9ead2c70a247f10597e6c4a7b7f">
              <div style="font-weight: bold; margin-bottom: 1em;">Steady Returns</div>
              <div class="main-box__desc">

              From the point of making deposits, your investments starts yielding and grows exponentially with a steady pace.</div>
          </div>
          <div class="coll col-md-3"><img class="main-box__icon main-box__icon_leverage-trading" src="https://digitalfxcryptomining.com/assets/home/assets/icons/leverage-tradingb71eb71e.svg?rev=c5da1719e9f80e46476544fc5b24607d">
              <div style="font-weight: bold; margin-bottom: 1em;">100x leverage trading</div>
              <div class="main-box__desc">Benefit from fast order execution, tight spreads, and advanced platform features to increase your profitability</div>
          </div>
          <div class="coll col-md-3"><img class="main-box__icon main-box__icon_security" src="https://digitalfxcryptomining.com/assets/home/assets/icons/security92b192b1.svg?rev=ed9e833f12c202af7eaffa35d0f47cef">
              <div style="font-weight: bold; margin-bottom: 1em;">Industry-leading security</div>
              <div class="main-box__desc">Keep your funds safe with our multi-level security system. Majority of digital assets are held in cold storage</div>
          </div>
      </div>
  </div>

  <div class="testimonial">
    <h2 class="text-white my-5 text-info">Get Started with Our Flexible plans</h2>
    <div class="row">
      <div class="coll col-md-3"><img class="main-box__icon main-box__icon_account-setup" src="https://digitalfxcryptomining.com/assets/home/assets/images/1.png">
          <div class="main-box__title">Starter : $300 - $1, 499</div>
          <div class="main-box__desc">Get Up to 2.5% Daily Profit</div>
          <div class="main-box__desc">Daily Analytical Market Update</div>
          <div class="main-box__desc">Reliable Customer Support</div>
          <div class="main-box__desc">Regular Promotional Email Alerts</div>
          <div class="main-box__desc">Entitlement to Regular webinars</div>
          <div><a class="btn btn-info p-3 my-4 text-white" href="/register" style="width:100%; color: #fff !important;">Start Now</a></div>
      </div>

      <div class="coll col-md-3"><img class="main-box__icon main-box__icon_account-setup" src="https://digitalfxcryptomining.com/assets/home/assets/images/2.png">
          <div class="main-box__title">Platinum : $1,500 - $4, 499</div>
          <div class="main-box__desc">Get Up to 5% Daily Profit</div>
          <div class="main-box__desc">Daily Analytical Market Update</div>
          <div class="main-box__desc">Reliable Customer Support</div>
          <div class="main-box__desc">Regular Promotional Email Alerts</div>
          <div class="main-box__desc">Entitlement to Regular webinars</div>
          <div class="main-box__desc">One Month Free Trading Signals</div>
          <div><a class="btn btn-info p-3 my-4 text-white" href="/register" style="width:100%; color: #fff !important;">Start Now</a></div>
      </div>
      <div class="coll col-md-3"><img class="main-box__icon main-box__icon_account-setup" src="https://digitalfxcryptomining.com/assets/home/assets/images/2.png">
          <div class="main-box__title">Bronze : $4,500 - $9, 999</div>
          <div class="main-box__desc">Get Up to 7% Daily Profit</div>
          <div class="main-box__desc">Daily Analytical Market Update</div>
          <div class="main-box__desc">Reliable Customer Support</div>
          <div class="main-box__desc">Regular Promotional Email Alerts</div>
          <div class="main-box__desc">Entitlement to Regular webinars</div>
          <div class="main-box__desc">One Month Free Trading Signals</div>
          <div><a class="btn btn-info p-3 my-4 text-white" href="/register" style="width:100%; color: #fff !important;">Start Now</a></div>
      </div>
      <div class="coll col-md-3"><img class="main-box__icon main-box__icon_account-setup" src="https://digitalfxcryptomining.com/assets/home/assets/images/4.png">
          <div class="main-box__title">Gold : $10,000 - $14, 999</div>
          <div class="main-box__desc">Get Up to 10% Daily Profit</div>
          <div class="main-box__desc">Daily Analytical Market Update</div>
          <div class="main-box__desc">Reliable Customer Support</div>
          <div class="main-box__desc">Regular Promotional Email Alerts</div>
          <div class="main-box__desc">Entitlement to Regular webinars</div>
          <div class="main-box__desc">Three Months Free Trading Signals</div>
          <div><a class="btn btn-info p-3 my-4 text-white" href="/register" style="width:100%; color: #fff !important;">Start Now</a></div>
      </div>

      <div class="coll col-md-3"><img class="main-box__icon main-box__icon_account-setup" src="https://digitalfxcryptomining.com/assets/home/assets/images/3.png">
        <div class="main-box__title">Diamond : $15, 000 - $100, 000</div>
        <div class="main-box__desc">Get Up to 15% Daily Profit</div>
        <div class="main-box__desc">Daily Analytical Market Update</div>
        <div class="main-box__desc">Reliable Customer Support</div>
        <div class="main-box__desc">Regular Promotional Email Alerts</div>
        <div class="main-box__desc">Entitlement to Regular webinars</div>
        <div class="main-box__desc">One Year Free Trading Signals</div>
        <div><a class="btn btn-info p-3 my-4 text-white" href="/register" style="width:100%; color: #fff !important;">Start Now</a></div>
     </div>
  </div>
</div>

<div class="trade">
  <div class="row">
    <div class="coll col-md-5">
      <h1 class="text-white">Trade with 1:100 Leverage</h1>
      <p class="mt-5 lead text-white">
        Increase your cryptocurrency profits by using leverage (margin). Every $1 provides you with a $100 of buying (or selling) power. Using leverage you can get exposure to a much larger position than with a standard exchange
      </p>
      <a href="/" class="text-info lead">Learn more ></a>
      <p class="mt-5 text-white">
        If Bitcoin increased from $7,000 to $7,045 your return would be equal to:
      </p>

      <div class="row">
        <div class="coll col-md-6">
          <h3 class="text-white text-white">+0.64%</h3>
          <h4 class="text-white">without leverage</h4>
        </div>
        <div class="coll col-md-6">
          <h3 class="text-white">+12.8%</h3>
          <h4 class="text-white">with 1:20 leverage</h4>
        </div>
        <div class="coll col-md-6">
          <h3 class="text-white">+32%</h3>
          <h4 class="text-white">without 1:50 leverage</h4>
        </div>
        <div class="coll col-md-6">
          <h3 class="text-info">+64%</h3>
          <h4 class="text-white">with 1:100 leverage</h4>
        </div>
      </div>
      <a href="/" class="btn btn-info text-white p-3 mt-3">Get started</a>
    </div>
    <div class="coll col-md-6">
      <img class="c-img" src="/images/stats.jpg" alt="">
    </div>
  </div>
</div>

<div class="profit">
  <h2 class="my-5">Profit from Market Ups & Downs</h2>
  <div class="row">
    <div class="coll col-md-4">
      <h3 class="mb-4 text-white">Market price goes higher</h3>
      <img class="c-img" src="/images/higher-chart.svg" alt="">
    </div>
    <div class="coll col-md-4 s-btw">
      <div>
        <p class="lead">
          billionsXchange allows you to actively trade most popular assets such as Bitcoin, Ethereum, Gold, EUR/USD, GBP/USD and more, profit from market rallies and declines, or hedge your existing holdings.
        </p>
        <a href="/about" class="text-info">Learn more ></a>
      </div>
      <a href="/register" class="btn btn-outline-info p-3">Start trading</a>
    </div>
    <div class="coll col-md-4">
      <h3 class="mb-4 text-white">Market price goes lower</h3>
      <img class="c-img" src="/images/lower-chart.svg" alt="">
    </div>
  </div>
</div>

<div class="open-free">
  <h1 class="display-4 my-5 text-white">Open a free account
    and trade Cryptocurrencies, Forex, Indices, commodities with 100x Leverage now!</h1>
  <div class="row">
    <div class="col-md-5">
      <p class="mt-5 lead">
        It takes few seconds to register and requires no personal information to get the full access to the leveraged trading platform.
      </p>
      <ul class="open__ul">
        <div class="mb-4">
            <b>Best-in-class trading platform</b>
            <div class="open__item-text">Our fast, safe and reliable trading platform is suitable for both novice and professional traders</div>
        </div>
        <div class="mb-4">
            <b>Low trading fees</b>
            <div class="open__item-text">Enjoy tight spreads and low commission rates while trading Bitcoin, Ethereum, Litecoin, Ripple and EOS with 1:100 leverage</div>
        </div>
        <div class="mb-4">
            <b>User-friendly interface</b>
            <div class="open__item-text">Intuitive and fully customizable layout with multi-monitor support</div>
        </div>
        <div class="mb-4">
            <b>Powerful charting engine</b>
            <div class="open__item-text">Multiple chart types, variety of indicators and drawing tools as well as ability to trade directly from the chart</div>
        </div>
      </ul>
        <a class="btn btn-outline-info p-3" style="width: 300px;">Open free account</a>              
    </div>
    <div class="col-md-5">
      <img class="c-img" src="/images/com-stats.png" alt="">
    </div>
  </div>
</div>


